@import "bourbon/bourbon";
@import "../components/foundation/css/normalize.css";
@import "../components/foundation/css/foundation.css";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import "../components/pickadate/lib/themes/default.css";
@import "../components/pickadate/lib/themes/default.date.css";
@import "../components/pickadate/lib/themes/default.time.css";

body {
  background-color: #FFF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: small;
  text-align: center;	
}

nav {
	color: white;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-left: 10px;
	margin-right: 10px;

}

.avatar-small {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-left: 10px;
	margin-right: 10px;	
}

.event {
	margin-top: 10px;
	margin-bottom: 10px;

	font-size: 16pt;

	h1 {
	  font-size: 26pt;
	}

	.title {
		font-size: 26pt;
	}

	.time {
	  font-weight: bold;

	}

	.description {

	}

	.people {
		margin: 25px 0px 5px 0px;
		font-weight: 500;
	}

	.status {
		margin: 25px 0px 0px 0px;
	}

	p {
		font-size: 16pt;
		font-weight: 300;
		text-align: left;
	}

	.avatar-column {
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: left;
	}

	.button
	{
/*		border-radius: 5px; */
	}

	.button:hover, .selected
	{
			background-color: orange;		
	}

	input[type=radio] 
	{
		display: none;
		margin: 10px;

		+ label
		{
			display:inline-block;
			margin: 0px 0px 0px 1px;
			padding: 16px 20px;
			color: #3c80ea;
			background-color:  #e7e7e7;
			border-color: #f4f2ee;	
			font-size: 14pt;		
		}
	}

	input[type=radio]:hover + label
	{
		background-image: none;
		background-color: #d0e1ff;					
	}

	input[type=radio]:checked + label 
	{
		background-image: none;
		background-color: #d0e1ff;					
	}

	// hero unit stuff
	.visible {
		display: block;
	}
	.hidden {
		display: none;
	}
}

.editEvent{
	textarea {
		height: 10em;
	}
	text-align: left;
	margin-top: 10px;
}

